<div id="apikeys" class="auth_container form-group pt-3">
    <label class="auth_label text-uppercase" for="input_{{name}}">Autenticaci&oacute;n:</label>
    <div class="input-group input-group-sm">
        <input id="input_apiKey_{{name}}" placeholder="Token JWT" data-name="{{name}}" data-in="{{in}}" class="auth_input form-control" name="input_{{name}}" type="text"/>
        <div class="input-group-append">
            <button id="apply_api_key" class="auth_submit_button btn btn-secondary">Aplicar</button>
        </div>
    </div>
</div>
