<div class="operations">
    <div class="{{method}} operation" id="{{parentId}}_{{nickname}}">
        <div class="row">
            <div class="content col-lg-6 col-xl-6 pt-3 pb-3">
                <div class="heading mb-3">
                    <h3 class="operation-title">
                        <a class="opperation_link" href="#{{parentId}}_{{nickname}}">{{summary}}</a>
                    </h3>
                    <div class="d-lg-flex align-items-center">
                        <div class="mr-auto">
                            <h5 class="text-truncate">
                                <span class="http_method badge {{#if deprecated}}badge-light{{else}}{{methodBadgeClass method}}{{/if}}">{{method}}</span>
                                <span class="path text-muted">{{path}}</span>
                            </h5>
                        </div>
                        <a href="javascript:;" class="toggle-samples text-nowrap text-muted d-none d-lg-block">
                            <small class="text">Ocultar</small> <i class="fa fa-code"></i>
                        </a>
                        <a href="#samples-{{parentId}}_{{nickname}}" class="text-nowrap text-muted d-lg-none">
                            <small class="text">Ocultar</small> <i class="fa fa-code"></i>
                        </a>
                    </div>
                </div>

                {{#if deprecated}}
                    <h6 class="text-warning">Warning: Deprecated</h6>
                {{/if}}
                {{#if description}}
                    <div class="markdown action-summary">{{{description}}}</div>
                {{/if}}


                <form accept-charset="UTF-8" class="sandbox">

                    {{#if parameters}}
                        <h6>Par&aacute;metros</h6>
                        <div data-content class="operation-params card card-body pb-1 bg-light mb-3" id="parm-{{parentId}}_{{nickname}}"></div>
                    {{/if}}

                    <h6 data-control>Probar este endpoint</h6>

                    <div id="test-{{parentId}}_{{nickname}}">
                        <div class="sandbox_header mb-5" data-content>
                            <input class="submit btn btn-primary text-uppercase" name="commit" type="submit" value="Test"
                                   data-toggle="modal" data-target="#get_clients-modal-request">

                            {{#oauth}}
                                <button type="button" class="api-ic ic-off float-right btn btn-outline-secondary text-uppercase">Oauth</button>
                            {{/oauth}}
                        </div>
                        {{#if type}}
                            <div class="response-content-type card card-body pb-3 bg-light mb-3"/>
                        {{/if}}
                    </div>

                    {{#if responseMessages}}
                        <h6 class="pt-3" data-control>
                            Respuestas
                        </h6>
                        <div data-content class="responses-wrapper" id="response-{{parentId}}_{{nickname}}">
                            <div class="operation-status">
                            </div>
                        </div>
                    {{/if}}
                </form>
            </div>
            <div class="samples col-lg-6 col-xl-6" id="samples-{{parentId}}_{{nickname}}">
                <span class="model-signature"></span>
            </div>
        </div>


        <div class="modal fade" tabindex="-1" role="dialog" id="modal-{{parentId}}_{{nickname}}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">
                            {{summary}} <span class="http_method badge {{#if deprecated}}badge-secondary{{else}}{{methodBadgeClass method}}{{/if}}">{{method}}</span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="response">
                            <small class="text-uppercase">URL de la petici&oacute;n</small>
                            <div class="mt-2 mb-3 request_url"></div>

                            <small class="text-uppercase">Cuerpo de la respuesta</small>
                            <div class="mt-2 mb-3 response_body"></div>

                            <small class="text-uppercase">C&oacute;digo de respuesta</small>
                            <div class="mt-2 mb-3 response_code"></div>

                            <small class="text-uppercase">Cabeceras</small>
                            <div class="mt-2 response_headers"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
