<div class="form-group row">
    <label class="param-property text-nowrap col-lg-3 col-xl-2 text-lg-right col-form-label">
        {{name}}:</br>
        <small class="text-muted"><em>({{this.in}})</em></small>
    </label>
    <div class="param-property col-lg-9 col-xl-10" data-label="{{name}}">
        <select {{#isArray this}} multiple="multiple"{{/isArray}} class="parameter form-control" name="{{name}}">
            {{#if required}}
            {{else}}
                {{#if default}}
                {{else}}
                    <option selected="" value="></option>
                {{/if}}
            {{/if}}
            {{#each allowableValues.descriptiveValues}}
                {{#if isDefault}}
                    <option selected="" value="{{value}}">{{value}} (default)</option>
                {{else}}
                    <option value="{{value}}">{{value}}</option>
                {{/if}}
            {{/each}}
        </select>
        <div class="small-description media mt-2">
            {{#if type}}
                <small><pre class="mb-0 mr-2"><code class="code-signature hljs rounded">{{type}}</code></pre></small>
            {{/if}}
            <div class="media-body">
                <small class="text-muted">{{this.description}}</small>
            </div>
        </div>
    </div>
</div>

